/* body {
    background-color: #3b1272;
} */

.main-sidebar > .dropdown {
    list-style: none;
}

.btn-primary {
    box-shadow: none;
}

.bg-new {
    background-color: #3b1272;
}

.card {
    background-color: #362f62;
    color: white;
}

.card-header, .komentar-profile {
    display: flex;
    gap: 1%;
}

.postingan-file {
    width: 100%;
    height: 100%;
}
.profile > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    padding: .2rem;
    background-color: white;
}

.p-sidebar {
    height: 50px;
    width: 50px;
}

.comment-field{
    color: white;
    border-radius: 0;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #8375dd;
    outline: none;
    padding-left: 0;
}

.postingan-link {
    text-decoration: none;
}

.postingan-link:hover {
    text-decoration: none;
}

.dropdown-toggle {
    background-color: #3b1272;
    margin: 10px;
    border-radius: 10px;
}

.dropdown-toggle::after{
    color: white;
    content: "▴";
    border: 0;
    position: absolute;
    right: 40px;
    top: 30px;
}

.dropdown-menu {
    background-color: #3b1272;
    top: -10px !important;
}

.dropdown-menu > * {
    color: white;

}

.dropdown-toggle > img {
    padding: .2rem;
    background-color: white;
}

.dropdown-toggle > div {
    color: white;
}

.comment-field::placeholder {
    color: white;
}

.comment-field:focus{
    color: white;
    border-radius: 0;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #8375dd;
    outline: none;
}

.komentar-wrapper{
    position: relative;
}

.komentar-wrapper > input {
    width: 100%;
}

.komentar-wrapper > label >i {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #c5bcff;
}

.profile-wrapper {
    border-radius: 10px;
    background-color: #bababa;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.wrapper {
    display: flex;
    align-items: center;
}

.wrapper-profile {
    display: flex;
    gap: 5%;
}

.profile-detail {
    min-width: 130px;
}

.profile-wrapper > .wrapper >img {
    border: 5px solid;
    background-color: white;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

.dropdown-custom {
    transform: translate3d(-180px, 30px, 0px) !important;
    background-color: #6777ef;
}

.alert-success {
    color: white;
}

.delete-btn {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    width: 100%;
}

.card {
    border-radius: 10px;
}