html {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body{
margin: 0;
}

.card-header {
  text-align: center;
  color: black;
  margin: 0;
  margin-bottom: 1rem;
}

label {
  color: white;
}

.login {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  
.logo{
    text-align: center;
}

.card {
    margin: auto;
    width: 90%;
    padding: 10px;
  }
.form{
    border-radius: 5px;
  background-color: #362f62;
  padding: 20px;
}

input[type=text]:focus {
  color: white;
}

input[type=text], select {
  color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background: #4F3D69;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #4F3D69;
  }
  button[type=submit] {
    width: 100%;
    background-color: #2ea043;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button[type=submit]:hover {
    background-color: #39cc5f;
  }